/* Global CSS Commands ----------------------------------------------------- */
:root {
    --primary-color: #ffcc00;
}

.gold-back {
    background-color: var(--primary-color);
}

.icon-round {
    border-radius: 10%;
}

.icon-circle {
    border-radius: 50%;
}


/* Homepage ---------------------------------------------------------------- */

.jumbo-apple {
    background-image: url("/images/jumbotron-apple.png");
    background-size: cover;
    background-position: center;
}


/* Browse ------------------------------------------------------------------ */

.browse-pad {
    padding-top: 2rem;
}

.center-text {
    text-align: center;
}


/* View Cart --------------------------------------------------------------- */

.cart-height {
    min-height: 40vh;
}

.col-pad {
    padding: 1rem;
}

.inherit-min {
    min-height: inherit;
}

.cart-border {
    border: 3px solid #4d4d4d;
    border-radius: 5px;
}

/* For testing */
.background-red {
    background-color: red;
}

.background-green {
    background-color: green;
}