:root {
    --primary-color: #ffcc00;
}

.gold-back {
    background-color: var(--primary-color);
}

.icon-round {
    border-radius: 10%;
}

.icon-circle {
    border-radius: 50%;
}

.jumbo-apple {
    background-image: url("/images/jumbotron-apple.png");
    background-size: cover;
    background-position: center;
}

.browse-pad {
    padding-top: 2rem;
}

.center-text {
    text-align: center;
}